.sidenav-container {
  margin-top: 64px;
}

.sidenav-header {
  padding: 16px;
  background: #1a1a2e;

  h2 {
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }
}

mat-sidenav {
  width: 250px;
  background: #1a1a2e;
  border-radius: 0;
  border: none;

  span {
    color: white;
  }
}

mat-nav-list {
  padding: 8px 0;

  a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;

    &:hover,
    &.focus,
    &.active,
    &:focus-visible {
      background: rgba(199, 17, 17, 0.932);
      color: white !important;
    }
  }

  mat-icon {
    margin-right: 16px;
    color: white;
  }
}

.content-wrapper {
  padding: 24px;
  background: #0f0f23;
}
